<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<table class="users table table-hover table-striped">
  <thead><tr><th></th><th>User Name</th><th>email</th><th>administrator</th></tr></thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>